@charset "utf-8";

html,body{ 
    margin:0;
    font-size: 16px;

}
b{font-size: 40px}
*{
    box-sizing: border-box;

}
ul,li{
    list-style-type: none;
    margin:0; padding:0;
}
h1,h2,h3,h4,h5,h6,p,figure{ margin:0; }
img{vertical-align: top;}
a{text-decoration: none;}

.wrap{
    position: relative;
    height: 100vh;
    background-color: #000;
}



.logIn{
    position: absolute;
    left: 25%; top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    width: 800px; height: 400px;
}
.logIn li{
    align-items: center;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    width: 200px;
    position: absolute;
    top: 40%; left: 50%;
    transform: translateX(-50%);
    height: 100px;
}

.btn{
    width: 100px;
    margin-top: 10px;
}